# =====================
# 测试相关
# =====================
test/
tests/
*_test.go
*.test
coverage.out

# =====================
# =====================
DailyLog.md
# =====================
# 编译产物（Go / 通用）
# =====================
bin/
build/
dist/
*.exe
*.out
*.log

# =====================
# Go 相关
# =====================
*.o
*.a

# =====================
# IDE / 编辑器
# =====================
.vscode/
.idea/
*.swp
*.swo

# =====================
# 系统文件
# =====================
.DS_Store
Thumbs.db

